<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title Document
	link(rel="stylesheet", href="css/main.css")
	meta(name="viewport", content="width=device-width, initial-scale=1")
body.b-page
	.b-page__wrapper
		header.b-page__header.b-header
			.container
				.row
					.b-header__wrapper
						a.b-header__text.hidden-xs(href="#")
							p.text-center Российское общество по неразрушающему<br> контролю и технической диагностике (РОНКТД)
						a.b-header__logo.b-logo.b-logo--top(href="#")
							img.b-logo__image(src="img/logo.png", alt="")
						a.b-header__text.hidden-xs(href="#")
							p.text-center The Russian Society for non-destructive<br> testing and technical diagnostics (RSNTTD)
						.b-header__text.xs-visible РОНКТД
						a.b-header__toggle.js-menu-toggle.xs-visible(href="javascript:void(0)") 
							span.icon-bar
							span.icon-bar
							span.icon-bar
		nav.b-menu.b-menu--top.js-menu
			.container
				.row
					.b-menu__wrapper
						ul.b-menu__column
							li.b-menu__item 
								a.b-menu__link(href="#") Новости
							li.b-menu__item
								a.b-menu__link(href="#") О РОНКТД
							li.b-menu__item
								a.b-menu__link(href="#") Членство
						ul.b-menu__column
							li.b-menu__item
								a.b-menu__link(href="#") Аккредитация компаний
							li.b-menu__item
								a.b-menu__link(href="#") Международная деятельность
							li.b-menu__item
								a.b-menu__link(href="#") Выставки и конференции
						ul.b-menu__column
							li.b-menu__item
								a.b-menu__link(href="#") Сертификация специалистов
							li.b-menu__item
								a.b-menu__link(href="#") Обучение специалистов
							li.b-menu__item
								a.b-menu__link(href="#") Информационная политика
						ul.b-menu__column
							li.b-menu__item
								a.b-menu__link(href="#") Документы
							li.b-menu__item
								a.b-menu__link(href="#") Вакансии
							li.b-menu__item
								a.b-menu__link(href="#") Контакты
						ul.b-menu__column
							li.b-menu__item
								a.b-menu__link(href="#") Сертификация специалистов
							li.b-menu__item
								a.b-menu__link(href="#") Обучение специалистов
							li.b-menu__item
								a.b-menu__link(href="#") Информационная политика
						ul.b-menu__column
							li.b-menu__item
								a.b-menu__link(href="#") Документы
							li.b-menu__item
								a.b-menu__link(href="#") Вакансии
							li.b-menu__item
								a.b-menu__link(href="#") Контакты
		.b-page__content.b-content
			.container
				.row
					.b-content__holder.b-content__holder--flex
						.b-sidebar.b-sidebar--left
							ul.b-menu.b-menu--left
								li.b-menu__item
									a.b-menu__link(href="") Уровни ДАК НК РОНКТД
								li.b-menu__item.is-active.has-sub-menu
									a.b-menu__link(href="") Экспертный совет
									ul.b-menu__sub-menu
										li.b-menu__item
											a.b-menu__link(href="") Структура и управление
										li.b-menu__item.is-active
											a.b-menu__link(href="") Состав молодежного правления
										li.b-menu__item
											a.b-menu__link(href="") Направления деятельности/проекты
								li.b-menu__item
									a.b-menu__link(href="") Порядок прохождения
								li.b-menu__item
									a.b-menu__link(href="") Диплом ДАК НК
								li.b-menu__item
									a.b-menu__link(href="") Акредитированные компании
								li.b-menu__item
									a.b-menu__link(href="") Подать заявку
							.b-box.b-box--sidebar
								h2.b-box__title Главная тема
								.b-box__content
									.b-box__item
										a.b-box__link(href="#") 21-ая Всероссийская конференция по неразрушающему контролю и технической диагностике
									.b-box__item
										a.b-box__link(href="#") Система обучения и подготовки специалистов в области неразрушающего контроля
							.b-box.b-box--sidebar
								h2.b-box__title
									a(href="") Новости и события
								.b-box__content
									.b-box__item
										.b-box__date 26.09.2016
										a.b-box__link(href="") Международная специализированная выставка приборов и оборудования для промышленного НК - Дефектоскопия/NDT Ekaterinburg
									.b-box__item
										.b-box__date 19.09.2016
										a.b-box__link(href="") XI Школа-семинар «Сертификация персонала в области неразрушающего контроля-2016»
									.b-box__item
										.b-box__date 12.09.2016
										a.b-box__link(href="") Третий номер журнала "Территория NDT"
									.b-box__item
										a.b-box__link.b-box__more(href="") Все новости
						.b-main.b-box.b-box--gray
							h1.b-box__title Аккредитация компаний
							p Система Добровольной Аккредитации Компаний в области неразрушающего контроля (ДАК НК) РОНКТД является добровольной для компаний-партнёров и других организаций, работающих в различных областях НК.
							p Система разработана и внедрена по просьбам как компаний поставщиков оборудования и услуг НК, стремящихся предоставить, так и компаний заказчиков, заинтересованных получить дополнительную информацию об участниках рынка НК в РФ.
							p Система ДАК НК РОНКТД применяет комплексный подход, основанный на анализе проверенных объективных данных о деятельности компании и субъективной оценке уровня развития и известности компании со стороны экспертного совета РОНКТД, состоящего из признанных в РФ специалистов в различных областях НК.
							p Оценка полученная по объективным показателям, является достаточной для принятия решения о положительном прохождении компанией ДАК РОНКТД.
							a.b-button(href="") Читать далее...
	footer.b-page__footer.b-footer
		.container
			.row
					.b-footer__copyright © 2015 
						a.b-footer__link(href="http://ronktd.ru/") РОНКТД
						br
						a.b-footer__link(href="/sitemap/", rel="nofollow") Карта сайта
					.b-footer__address Россия, 119048, Москва, ул. Усачева, д. 35, стр. 1
						|<br> Тел.: 
						a.b-footer__link(href="callto:+74992455656", title="+74992455656") +7 (499) 245-56-56
						|<br> Факс.: 
						a.b-footer__link(href="callto:+74992468888", title="+74992468888") +7 (499) 246-88-88
						|<br> E-mail: 
						a.b-footer__link(href="mailto:info@ronktd.ru", title="info@ronktd.ru") info@ronktd.ru
					.b-footer__social.b-social
						a.b-social__item.b-footer__link(href="https://twitter.com/RSNTTD")
							img.b-social__image(src="img/tw.png", alt="Twitter", rel="nofollow", target="_blank")
						a.b-social__item.b-footer__link(href="https://vk.com/ronktd")
							img.b-social__image(src="img/vk.png", alt="Вконтакте", rel="nofollow", target="_blank")
						a.b-social__item.b-footer__link(href="https://www.facebook.com/ronktd.ru")
							img.b-social__image(src="img/fb.png", alt="Facebook", rel="nofollow", target="_blank")
			.row
				.b-footer__wrapper
					p.text-center Копирование материалов с сайта возможно только с разрешения администрации. Ссылка на сайт www.ronktd.ru обязательна.
	script(src="js/main.js")